![data-x](http://oi64.tinypic.com/o858n4.jpg)

___

## Homework 03

__ Any Questions__:  
--Google!  
--Discuss with peers, post questions on the class Piazza (https://piazza.com/class/j6o5l788o874i)  
--Come to Office Hours on Tuesday 11am to 12 pm in Etcheverry 4176B. 

__Submission__:  
Submit on bcourses as directed in the assignment instructions.

In [200]:
# Load required modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Reading File

### 1) Read in a CSV file called 'data3.csv' into a dataframe called df.
### Data description
* Data source: http://www.fao.org/nr/water/aquastat/data/query/index.html?* lang=en
* Data, units:
* GDP, current USD (CPI adjusted)
* NRI, mm/yr
* Population density, inhab/km^2
* Total area of the country, 1000 ha = 10km^2
* Total Population, unit 1000 inhabitants

### 2.1 ) Display the first 10 lines of the dataframe
### 2.1 ) Display the column names.

In [201]:
df = pd.read_csv('data3.csv')
print(df.head(10))
print(list(df.columns))

        Area  Area Id              Variable Name  Variable Id    Year  \
0  Argentina      9.0  Total area of the country       4100.0  1962.0
1  Argentina      9.0  Total area of the country       4100.0  1967.0
2  Argentina      9.0  Total area of the country       4100.0  1972.0
3  Argentina      9.0  Total area of the country       4100.0  1977.0
4  Argentina      9.0  Total area of the country       4100.0  1982.0
5  Argentina      9.0  Total area of the country       4100.0  1987.0
6  Argentina      9.0  Total area of the country       4100.0  1992.0
7  Argentina      9.0  Total area of the country       4100.0  1997.0
8  Argentina      9.0  Total area of the country       4100.0  2002.0
9  Argentina      9.0  Total area of the country       4100.0  2007.0

      Value Symbol  Other
0  278040.0      E    NaN
1  278040.0      E    NaN
2  278040.0      E    NaN
3  278040.0      E    NaN
4  278040.0      E    NaN
5  278040.0      E    NaN
6  278040.0      E    NaN
7  278040.0      E    NaN
8  278040.0      E    NaN
9  278040.0      E    NaN
['Area', 'Area Id', 'Variable Name', 'Variable Id', 'Year', 'Value', 'Symbol', 'Other']

# Data Preprocessing

### 3.1 ) Create a mask of NAN values(  i.e. apply .isnull on the dataframe). Inspect the mask for 'True' values, they denote NANs. 
#### Hint: [ You will notice that the last  8 rows and the last column ('Other') have NAN values.You can also use df.tail() to see the last lines.]

### 3.2 )  Now, we will try to get rid of the NaN valued rows and columns. Remove the bottom 8 rows from the dataframe. Also remove the column 'Other'.

In [202]:
NANmask = df.isnull()
print(NANmask)
#drop columns with nan values
df.dropna(axis=1, how='all', inplace=True)
#drop last 8 rows
df = df[:-8]
print(df) #this is df without 'Other' column and last 8 rows

      Area  Area Id  Variable Name  Variable Id   Year  Value  Symbol  Other
0    False    False          False        False  False  False   False   True
1    False    False          False        False  False  False   False   True
2    False    False          False        False  False  False   False   True
3    False    False          False        False  False  False   False   True
4    False    False          False        False  False  False   False   True
5    False    False          False        False  False  False   False   True
6    False    False          False        False  False  False   False   True
7    False    False          False        False  False  False   False   True
8    False    False          False        False  False  False   False   True
9    False    False          False        False  False  False   False   True
10   False    False          False        False  False  False   False   True
11   False    False          False        False  False  False   False   True
12   False    False          False        False  False  False   False   True
13   False    False          False        False  False  False   False   True
14   False    False          False        False  False  False   False   True
15   False    False          False        False  False  False   False   True
16   False    False          False        False  False  False   False   True
17   False    False          False        False  False  False   False   True
18   False    False          False        False  False  False   False   True
19   False    False          False        False  False  False   False   True
20   False    False          False        False  False  False   False   True
21   False    False          False        False  False  False   False   True
22   False    False          False        False  False  False   False   True
23   False    False          False        False  False  False   False   True
24   False    False          False        False  False  False   False   True
25   False    False          False        False  False  False   False   True
26   False    False          False        False  False  False   False   True
27   False    False          False        False  False  False   False   True
28   False    False          False        False  False  False   False   True
29   False    False          False        False  False  False   False   True
..     ...      ...            ...          ...    ...    ...     ...    ...
368  False    False          False        False  False  False   False   True
369  False    False          False        False  False  False   False   True
370  False    False          False        False  False  False   False   True
371  False    False          False        False  False  False   False   True
372  False    False          False        False  False  False   False   True
373  False    False          False        False  False  False   False   True
374  False    False          False        False  False  False   False   True
375  False    False          False        False  False  False   False   True
376  False    False          False        False  False  False   False   True
377  False    False          False        False  False  False   False   True
378  False    False          False        False  False  False   False   True
379  False    False          False        False  False  False   False   True
380  False    False          False        False  False  False   False   True
381  False    False          False        False  False  False   False   True
382  False    False          False        False  False  False   False   True
383  False    False          False        False  False  False   False   True
384  False    False          False        False  False  False   False   True
385  False    False          False        False  False  False   False   True
386  False    False          False        False  False  False   False   True
387  False    False          False        False  False  False   False   True
388  False    False          False        False  False  False   False   True
389  False    False          False        False  False  False   False   True
390   True     True           True         True   True   True    True   True
391  False     True           True         True   True   True    True   True
392  False     True           True         True   True   True    True   True
393  False     True           True         True   True   True    True   True
394  False     True           True         True   True   True    True   True
395  False     True           True         True   True   True    True   True
396  False     True           True         True   True   True    True   True
397  False     True           True         True   True   True    True   True

[398 rows x 8 columns]
                         Area  Area Id                  Variable Name  \
0                   Argentina      9.0      Total area of the country
1                   Argentina      9.0      Total area of the country
2                   Argentina      9.0      Total area of the country
3                   Argentina      9.0      Total area of the country
4                   Argentina      9.0      Total area of the country
5                   Argentina      9.0      Total area of the country
6                   Argentina      9.0      Total area of the country
7                   Argentina      9.0      Total area of the country
8                   Argentina      9.0      Total area of the country
9                   Argentina      9.0      Total area of the country
10                  Argentina      9.0      Total area of the country
11                  Argentina      9.0      Total area of the country
12                  Argentina      9.0               Total population
13                  Argentina      9.0               Total population
14                  Argentina      9.0               Total population
15                  Argentina      9.0               Total population
16                  Argentina      9.0               Total population
17                  Argentina      9.0               Total population
18                  Argentina      9.0               Total population
19                  Argentina      9.0               Total population
20                  Argentina      9.0               Total population
21                  Argentina      9.0               Total population
22                  Argentina      9.0               Total population
23                  Argentina      9.0               Total population
24                  Argentina      9.0             Population density
25                  Argentina      9.0             Population density
26                  Argentina      9.0             Population density
27                  Argentina      9.0             Population density
28                  Argentina      9.0             Population density
29                  Argentina      9.0             Population density
..                        ...      ...                            ...
360  United States of America    231.0             Population density
361  United States of America    231.0             Population density
362  United States of America    231.0             Population density
363  United States of America    231.0             Population density
364  United States of America    231.0             Population density
365  United States of America    231.0             Population density
366  United States of America    231.0             Population density
367  United States of America    231.0             Population density
368  United States of America    231.0             Population density
369  United States of America    231.0             Population density
370  United States of America    231.0   Gross Domestic Product (GDP)
371  United States of America    231.0   Gross Domestic Product (GDP)
372  United States of America    231.0   Gross Domestic Product (GDP)
373  United States of America    231.0   Gross Domestic Product (GDP)
374  United States of America    231.0   Gross Domestic Product (GDP)
375  United States of America    231.0   Gross Domestic Product (GDP)
376  United States of America    231.0   Gross Domestic Product (GDP)
377  United States of America    231.0   Gross Domestic Product (GDP)
378  United States of America    231.0   Gross Domestic Product (GDP)
379  United States of America    231.0   Gross Domestic Product (GDP)
380  United States of America    231.0   Gross Domestic Product (GDP)
381  United States of America    231.0   Gross Domestic Product (GDP)
382  United States of America    231.0  National Rainfall Index (NRI)
383  United States of America    231.0  National Rainfall Index (NRI)
384  United States of America    231.0  National Rainfall Index (NRI)
385  United States of America    231.0  National Rainfall Index (NRI)
386  United States of America    231.0  National Rainfall Index (NRI)
387  United States of America    231.0  National Rainfall Index (NRI)
388  United States of America    231.0  National Rainfall Index (NRI)
389  United States of America    231.0  National Rainfall Index (NRI)

     Variable Id    Year         Value Symbol
0         4100.0  1962.0  2.780400e+05      E
1         4100.0  1967.0  2.780400e+05      E
2         4100.0  1972.0  2.780400e+05      E
3         4100.0  1977.0  2.780400e+05      E
4         4100.0  1982.0  2.780400e+05      E
5         4100.0  1987.0  2.780400e+05      E
6         4100.0  1992.0  2.780400e+05      E
7         4100.0  1997.0  2.780400e+05      E
8         4100.0  2002.0  2.780400e+05      E
9         4100.0  2007.0  2.780400e+05      E
10        4100.0  2012.0  2.780400e+05      E
11        4100.0  2014.0  2.780400e+05      E
12        4104.0  1962.0  2.128800e+04      E
13        4104.0  1967.0  2.293200e+04      E
14        4104.0  1972.0  2.478300e+04      E
15        4104.0  1977.0  2.687900e+04      E
16        4104.0  1982.0  2.899400e+04      E
17        4104.0  1987.0  3.132600e+04      E
18        4104.0  1992.0  3.365500e+04      E
19        4104.0  1997.0  3.583400e+04      E
20        4104.0  2002.0  3.788900e+04      E
21        4104.0  2007.0  3.997000e+04      E
22        4104.0  2012.0  4.209500e+04      E
23        4104.0  2015.0  4.341700e+04      E
24        4107.0  1962.0  7.656000e+00      E
25        4107.0  1967.0  8.248000e+00      E
26        4107.0  1972.0  8.913000e+00      E
27        4107.0  1977.0  9.667000e+00      E
28        4107.0  1982.0  1.043000e+01      E
29        4107.0  1987.0  1.127000e+01      E
..           ...     ...           ...    ...
360       4107.0  1972.0  2.214000e+01      E
361       4107.0  1977.0  2.317000e+01      E
362       4107.0  1982.0  2.430000e+01      E
363       4107.0  1987.0  2.549000e+01      E
364       4107.0  1992.0  2.678000e+01      E
365       4107.0  1997.0  2.834000e+01      E
366       4107.0  2002.0  2.995000e+01      E
367       4107.0  2007.0  3.132000e+01      E
368       4107.0  2012.0  3.202000e+01      E
369       4107.0  2015.0  3.273000e+01      E
370       4112.0  1962.0  6.050000e+11      E
371       4112.0  1967.0  8.620000e+11      E
372       4112.0  1972.0  1.280000e+12      E
373       4112.0  1977.0  2.090000e+12      E
374       4112.0  1982.0  3.340000e+12      E
375       4112.0  1987.0  4.870000e+12      E
376       4112.0  1992.0  6.540000e+12      E
377       4112.0  1997.0  8.610000e+12      E
378       4112.0  2002.0  1.100000e+13      E
379       4112.0  2007.0  1.450000e+13      E
380       4112.0  2012.0  1.620000e+13      E
381       4112.0  2015.0  1.790000e+13      E
382       4472.0  1965.0  9.285000e+02      E
383       4472.0  1969.0  9.522000e+02      E
384       4472.0  1974.0  1.008000e+03      E
385       4472.0  1981.0  9.492000e+02      E
386       4472.0  1984.0  9.746000e+02      E
387       4472.0  1992.0  1.020000e+03      E
388       4472.0  1996.0  1.005000e+03      E
389       4472.0  2002.0  9.387000e+02      E

[390 rows x 7 columns]

### 4.1) For our analysis we do not want all the columns in our dataframe. Lets  drop all the redundant columns/ features.   
### **Drop columns**: **Area Id, Variable Id, Symbol**. Save the new dataframe as df1.

In [203]:
df1 = df.drop(['Area Id', 'Variable Id', 'Symbol'], axis=1, inplace=False)
df1

,Area,Variable Name,Year,Value
0,Argentina,Total area of the country,1962.0,2.780400e+05
1,Argentina,Total area of the country,1967.0,2.780400e+05
2,Argentina,Total area of the country,1972.0,2.780400e+05
3,Argentina,Total area of the country,1977.0,2.780400e+05
4,Argentina,Total area of the country,1982.0,2.780400e+05
5,Argentina,Total area of the country,1987.0,2.780400e+05
6,Argentina,Total area of the country,1992.0,2.780400e+05
7,Argentina,Total area of the country,1997.0,2.780400e+05
8,Argentina,Total area of the country,2002.0,2.780400e+05
9,Argentina,Total area of the country,2007.0,2.780400e+05
10,Argentina,Total area of the country,2012.0,2.780400e+05
11,Argentina,Total area of the country,2014.0,2.780400e+05
12,Argentina,Total population,1962.0,2.128800e+04
13,Argentina,Total population,1967.0,2.293200e+04
14,Argentina,Total population,1972.0,2.478300e+04
15,Argentina,Total population,1977.0,2.687900e+04
16,Argentina,Total population,1982.0,2.899400e+04
17,Argentina,Total population,1987.0,3.132600e+04
18,Argentina,Total population,1992.0,3.365500e+04
19,Argentina,Total population,1997.0,3.583400e+04
20,Argentina,Total population,2002.0,3.788900e+04
21,Argentina,Total population,2007.0,3.997000e+04
22,Argentina,Total population,2012.0,4.209500e+04
23,Argentina,Total population,2015.0,4.341700e+04
24,Argentina,Population density,1962.0,7.656000e+00
25,Argentina,Population density,1967.0,8.248000e+00
26,Argentina,Population density,1972.0,8.913000e+00
27,Argentina,Population density,1977.0,9.667000e+00
28,Argentina,Population density,1982.0,1.043000e+01
29,Argentina,Population density,1987.0,1.127000e+01
...,...,...,...,...
360,United States of America,Population density,1972.0,2.214000e+01
361,United States of America,Population density,1977.0,2.317000e+01
362,United States of America,Population density,1982.0,2.430000e+01
363,United States of America,Population density,1987.0,2.549000e+01
364,United States of America,Population density,1992.0,2.678000e+01
365,United States of America,Population density,1997.0,2.834000e+01
366,United States of America,Population density,2002.0,2.995000e+01
367,United States of America,Population density,2007.0,3.132000e+01
368,United States of America,Population density,2012.0,3.202000e+01
369,United States of America,Population density,2015.0,3.273000e+01
370,United States of America,Gross Domestic Product (GDP),1962.0,6.050000e+11
371,United States of America,Gross Domestic Product (GDP),1967.0,8.620000e+11
372,United States of America,Gross Domestic Product (GDP),1972.0,1.280000e+12
373,United States of America,Gross Domestic Product (GDP),1977.0,2.090000e+12
374,United States of America,Gross Domestic Product (GDP),1982.0,3.340000e+12
375,United States of America,Gross Domestic Product (GDP),1987.0,4.870000e+12
376,United States of America,Gross Domestic Product (GDP),1992.0,6.540000e+12
377,United States of America,Gross Domestic Product (GDP),1997.0,8.610000e+12
378,United States of America,Gross Domestic Product (GDP),2002.0,1.100000e+13
379,United States of America,Gross Domestic Product (GDP),2007.0,1.450000e+13
380,United States of America,Gross Domestic Product (GDP),2012.0,1.620000e+13
381,United States of America,Gross Domestic Product (GDP),2015.0,1.790000e+13
382,United States of America,National Rainfall Index (NRI),1965.0,9.285000e+02
383,United States of America,National Rainfall Index (NRI),1969.0,9.522000e+02
384,United States of America,National Rainfall Index (NRI),1974.0,1.008000e+03
385,United States of America,National Rainfall Index (NRI),1981.0,9.492000e+02
386,United States of America,National Rainfall Index (NRI),1984.0,9.746000e+02
387,United States of America,National Rainfall Index (NRI),1992.0,1.020000e+03
388,United States of America,National Rainfall Index (NRI),1996.0,1.005000e+03
389,United States of America,National Rainfall Index (NRI),2002.0,9.387000e+02

### 4.2) Display all the unique values in your new dataframe for column: Area, Variable Name, Year.
### Note the Countries and the Metrics (ie.recorded variables)  represented in your dataset.
Hint: Use .unique( ) method.

In [204]:
Countries = df1['Area'].unique()
Metrics = df1['Variable Name'].unique()
Years = df1['Year'].unique()
print(Countries, Metrics, Years)

['Argentina' 'Australia' 'Germany' 'Iceland' 'Ireland' 'Sweden'
 'United States of America'] ['Total area of the country' 'Total population' 'Population density'
 'Gross Domestic Product (GDP)' 'National Rainfall Index (NRI)'] [ 1962.  1967.  1972.  1977.  1982.  1987.  1992.  1997.  2002.  2007.
  2012.  2014.  2015.  1963.  1970.  1974.  1978.  1984.  1990.  1964.
  1981.  1985.  1996.  2001.  1969.  1973.  1979.  1993.  1971.  1975.
  1986.  1991.  1998.  2000.  1965.  1983.  1988.  1995.]

### 5) Convert the year column to pandas datetime.

Convert the 'Year' column string values to pandas datetime objects, where only the year is specified.  
_Hint_:  
df1['Year'] = pd.to_datetime(pd.Series(df1['Year']).astype(int),format='%Y').dt.year  
##### Run df1.tail() to see if you get what you expect

In [205]:
df1['Year'] = pd.to_datetime(pd.Series(df1['Year']).astype(int),format='%Y').dt.year
df1.tail()

                         Area                  Variable Name  Year   Value
385  United States of America  National Rainfall Index (NRI)  1981   949.2
386  United States of America  National Rainfall Index (NRI)  1984   974.6
387  United States of America  National Rainfall Index (NRI)  1992  1020.0
388  United States of America  National Rainfall Index (NRI)  1996  1005.0
389  United States of America  National Rainfall Index (NRI)  2002   938.7

# Extract specific statistics from the preprocessed data:

### 6)  Create a dataframe 'dftemp' to store rows where Area is Iceland.

In [206]:
dftemp = df1[df1['Area'] == 'Iceland']
dftemp

        Area                  Variable Name  Year         Value
166  Iceland      Total area of the country  1962  1.030000e+04
167  Iceland      Total area of the country  1967  1.030000e+04
168  Iceland      Total area of the country  1972  1.030000e+04
169  Iceland      Total area of the country  1977  1.030000e+04
170  Iceland      Total area of the country  1982  1.030000e+04
171  Iceland      Total area of the country  1987  1.030000e+04
172  Iceland      Total area of the country  1992  1.030000e+04
173  Iceland      Total area of the country  1997  1.030000e+04
174  Iceland      Total area of the country  2002  1.030000e+04
175  Iceland      Total area of the country  2007  1.030000e+04
176  Iceland      Total area of the country  2012  1.030000e+04
177  Iceland      Total area of the country  2014  1.030000e+04
178  Iceland               Total population  1962  1.826000e+02
179  Iceland               Total population  1967  1.974000e+02
180  Iceland               Total population  1972  2.099000e+02
181  Iceland               Total population  1977  2.221000e+02
182  Iceland               Total population  1982  2.331000e+02
183  Iceland               Total population  1987  2.469000e+02
184  Iceland               Total population  1992  2.599000e+02
185  Iceland               Total population  1997  2.728000e+02
186  Iceland               Total population  2002  2.869000e+02
187  Iceland               Total population  2007  3.054000e+02
188  Iceland               Total population  2012  3.234000e+02
189  Iceland               Total population  2015  3.294000e+02
190  Iceland             Population density  1962  1.773000e+00
191  Iceland             Population density  1967  1.917000e+00
192  Iceland             Population density  1972  2.038000e+00
193  Iceland             Population density  1977  2.156000e+00
194  Iceland             Population density  1982  2.263000e+00
195  Iceland             Population density  1987  2.397000e+00
196  Iceland             Population density  1992  2.523000e+00
197  Iceland             Population density  1997  2.649000e+00
198  Iceland             Population density  2002  2.785000e+00
199  Iceland             Population density  2007  2.965000e+00
200  Iceland             Population density  2012  3.140000e+00
201  Iceland             Population density  2015  3.198000e+00
202  Iceland   Gross Domestic Product (GDP)  1962  2.849165e+08
203  Iceland   Gross Domestic Product (GDP)  1967  6.212260e+08
204  Iceland   Gross Domestic Product (GDP)  1972  8.465069e+08
205  Iceland   Gross Domestic Product (GDP)  1977  2.226539e+09
206  Iceland   Gross Domestic Product (GDP)  1982  3.232804e+09
207  Iceland   Gross Domestic Product (GDP)  1987  5.565384e+09
208  Iceland   Gross Domestic Product (GDP)  1992  7.138788e+09
209  Iceland   Gross Domestic Product (GDP)  1997  7.596126e+09
210  Iceland   Gross Domestic Product (GDP)  2002  9.161798e+09
211  Iceland   Gross Domestic Product (GDP)  2007  2.129384e+10
212  Iceland   Gross Domestic Product (GDP)  2012  1.419452e+10
213  Iceland   Gross Domestic Product (GDP)  2015  1.659849e+10
214  Iceland  National Rainfall Index (NRI)  1967  8.160000e+02
215  Iceland  National Rainfall Index (NRI)  1971  9.632000e+02
216  Iceland  National Rainfall Index (NRI)  1975  1.010000e+03
217  Iceland  National Rainfall Index (NRI)  1981  9.326000e+02
218  Iceland  National Rainfall Index (NRI)  1986  9.685000e+02
219  Iceland  National Rainfall Index (NRI)  1991  1.095000e+03
220  Iceland  National Rainfall Index (NRI)  1997  9.932000e+02
221  Iceland  National Rainfall Index (NRI)  1998  9.234000e+02

### 7) Print the years when the National Rainfall Index (NRI) was greater than 950 or less than 900 in Iceland. Use the dataframe you created in the previous question 'dftemp'.

In [207]:
over950 = dftemp[dftemp['Value']>950]
under900 = dftemp[dftemp['Value']<900]
over950 = over950[over950['Variable Name'] == 'National Rainfall Index (NRI)']
under900 = under900[under900['Variable Name'] == 'National Rainfall Index (NRI)']
out = list(under900['Year'].copy().append(over950['Year'].copy()))
print(out)

[1967, 1971, 1975, 1986, 1991, 1997]

# US statistics: 
## 8) Get all the rows of df1 (preprocessed dataframe) area is United States of America 

### 1) Create a new DataFrame called **`df_usa`** that only contains values where 'Area' is equal to 'United States of America'. Set the indices to be the 'Year' column    ( Use .set_index( ) )

### 2) Pivot the DataFrame so that the unique 'Variable Name' entries becomes the column entries. The DataFrame values should be the ones in the the 'Value' column. Do this by running the three lines of code below:

#### `df_usa=df_usa.pivot(columns='Variable Name',values='Value')`

### 3)  Display df_usa.head( ), rename  new columns to  ['GDP','NRI','PD','Area','Population']



### 4) Find `df_usa.isnull().sum()`.This gives us the number of NAN values in each column. Replace NAN values by 0, using `df_usa=df_usa.fillna(0)`. Again check `df_usa.isnull().sum()`.'
### 5) Calculate and print all the column averages and the column standard deviations.

In [208]:
#1
df_usa = df1[df1['Area'] == 'United States of America']
df_usa.set_index(df_usa['Year'], inplace=True, drop=True)
print(df_usa.head())

                          Area              Variable Name  Year     Value
Year
1962  United States of America  Total area of the country  1962  962909.0
1967  United States of America  Total area of the country  1967  962909.0
1972  United States of America  Total area of the country  1972  962909.0
1977  United States of America  Total area of the country  1977  962909.0
1982  United States of America  Total area of the country  1982  962909.0

In [209]:
#2
df_usa = df_usa.pivot(columns = 'Variable Name', values='Value')
print(df_usa.head())

Variable Name  Gross Domestic Product (GDP)  National Rainfall Index (NRI)  \
Year
1962                           6.050000e+11                            NaN
1965                                    NaN                          928.5
1967                           8.620000e+11                            NaN
1969                                    NaN                          952.2
1972                           1.280000e+12                            NaN

Variable Name  Population density  Total area of the country  Total population
Year
1962                        19.93                   962909.0          191861.0
1965                          NaN                        NaN               NaN
1967                        21.16                   962909.0          203713.0
1969                          NaN                        NaN               NaN
1972                        22.14                   962909.0          213220.0

In [210]:
#3
print(df_usa.head())
df_usa.rename(columns = {'Gross Domestic Product (GDP)':'GDP','National Rainfall Index (NRI)':'NRI','Population density':'PD','Total area of the country':'Area','Total population':'Population'}, inplace=True)
print(df_usa.head())

Variable Name  Gross Domestic Product (GDP)  National Rainfall Index (NRI)  \
Year
1962                           6.050000e+11                            NaN
1965                                    NaN                          928.5
1967                           8.620000e+11                            NaN
1969                                    NaN                          952.2
1972                           1.280000e+12                            NaN

Variable Name  Population density  Total area of the country  Total population
Year
1962                        19.93                   962909.0          191861.0
1965                          NaN                        NaN               NaN
1967                        21.16                   962909.0          203713.0
1969                          NaN                        NaN               NaN
1972                        22.14                   962909.0          213220.0
Variable Name           GDP    NRI     PD      Area  Population
Year
1962           6.050000e+11    NaN  19.93  962909.0    191861.0
1965                    NaN  928.5    NaN       NaN         NaN
1967           8.620000e+11    NaN  21.16  962909.0    203713.0
1969                    NaN  952.2    NaN       NaN         NaN
1972           1.280000e+12    NaN  22.14  962909.0    213220.0

In [211]:
#4
print(df_usa.isnull().sum())
df_usa=df_usa.fillna(0)
print(df_usa.isnull().sum())

Variable Name
GDP            7
NRI           11
PD             7
Area           7
Population     7
dtype: int64
Variable Name
GDP           0
NRI           0
PD            0
Area          0
Population    0
dtype: int64

In [212]:
#5
print(df_usa.mean())
print(df_usa.std())

Variable Name
GDP           4.620895e+12
NRI           4.092737e+02
PD            1.670158e+01
Area          6.103147e+05
Population    1.615134e+05
dtype: float64
Variable Name
GDP           6.088656e+12
NRI           4.935515e+02
PD            1.355462e+01
Area          4.789482e+05
Population    1.313805e+05
dtype: float64

## 9) Use df_usa:

### 1: Multiply the Area  by 10 (so instead of 1000 ha, the unit becomes 100 ha = 1km^2)


### 2: Create a new column in df_us called 'GDP/capita' and populate it with the calculated GDP per capita. Round the results to two decimal points.


### 3: Create a new column called 'PD2' (i.e. Population density 2). Calculate the Population density. **Note: the units should be inhab/km^2** (see Data description above). Round the reults to two decimal point.




### 4: Find the maximum value and minimum value of the 'NRI' column in the US (using pandas methods). What years do the min and max values occur?

In [213]:
#1
df_usa['Area'] = df_usa['Area']*10

In [219]:
#2
df_usa['GDP/capita'] = round(df_usa['GDP'] / df_usa['Population'], 2)
df_usa.head()

Variable Name           GDP    NRI     PD       Area  Population  GDP/capita
Year
1962           6.050000e+11    0.0  19.93  9629090.0    191861.0  3153324.54
1965           0.000000e+00  928.5   0.00        0.0         0.0         NaN
1967           8.620000e+11    0.0  21.16  9629090.0    203713.0  4231443.26
1969           0.000000e+00  952.2   0.00        0.0         0.0         NaN
1972           1.280000e+12    0.0  22.14  9629090.0    213220.0  6003189.19

In [220]:
#3
df_usa['PD2'] = round(df_usa['Population'] / df_usa['Area'], 2)
df_usa.head()

Variable Name,GDP,NRI,PD,Area,Population,GDP/capita,PD2
Year,,,,,,,
1962,6.050000e+11,0.0,19.93,9629090.0,191861.0,3153324.54,0.02
1965,0.000000e+00,928.5,0.00,0.0,0.0,NaN,NaN
1967,8.620000e+11,0.0,21.16,9629090.0,203713.0,4231443.26,0.02
1969,0.000000e+00,952.2,0.00,0.0,0.0,NaN,NaN
1972,1.280000e+12,0.0,22.14,9629090.0,213220.0,6003189.19,0.02

In [237]:
#4
print('Max Value:', df_usa['NRI'].max())
print('Max Value Year:', df_usa['NRI'].idxmax())
print('Min Value:', df_usa['NRI'].min())
print('Min Value Year:', df_usa['NRI'].idxmin())

Max Value: 1020.0
Max Value Year: 1992
Min Value: 0.0
Min Value Year: 1962

### Now, lets read another CSV file.

See https://www.quantshare.com/sa-43-10-ways-to-download-historical-stock-quotes-data-for-free

#### 10 a) Show a 3 x 3 correlation matrix for Nike, Apple, and Disney stock prices for the month of July, 2017

In [279]:

dfg = pd.read_csv('https://www.google.com/finance/historical?output=csv&q=goog')
dfa = pd.read_csv('https://www.google.com/finance/historical?output=csv&q=aapl')
dfd= pd.read_csv('https://www.google.com/finance/historical?output=csv&q=dis')
dfn= pd.read_csv('https://www.google.com/finance/historical?output=csv&q=nke')

# HINT: Convert 'Date' to datetime format in the datfarmes.
# Change indices of alldataframes to Date. Use Date indices to filter rows
dfa.index = pd.to_datetime(dfa['Date'])
dfd.index = pd.to_datetime(dfd['Date'])
dfn.index = pd.to_datetime(dfn['Date'])
dfa = dfa['2017-07-31':'2017-07-01']
dfd = dfd['2017-07-31':'2017-07-01']
dfn = dfn['2017-07-31':'2017-07-01']
# Create a new dataframe that stores values of 'Close' column from each dataframe.
df_close = pd.merge(dfa, dfd, how='left', left_index=True, right_index=True)
df_close = pd.merge(df_close, dfn, how='left', left_index=True, right_index=True)
df_close = df_close[['Close_x', 'Close_y', 'Close']]
df_close.rename(columns={'Close_x' : 'Apple', 'Close_y' : 'Disney', 'Close' : 'Nike'}, inplace=True)
# Use the 'Close' Column of each companys stock data to find correlation using df.corr().
print(df_close.corr())

           Apple    Disney      Nike
Apple   1.000000  0.524912  0.417947
Disney  0.524912  1.000000  0.459045
Nike    0.417947  0.459045  1.000000

#### 10b) Show the same correlation matrix but over different time periods, 

i) the last 20 days
ii) the last 80 days

In [292]:
# LAST 20 DAYS
n=20
dfa = pd.read_csv('https://www.google.com/finance/historical?output=csv&q=aapl')
dfd= pd.read_csv('https://www.google.com/finance/historical?output=csv&q=dis')
dfn= pd.read_csv('https://www.google.com/finance/historical?output=csv&q=nke')
dfa.index = pd.to_datetime(dfa['Date'])
dfd.index = pd.to_datetime(dfd['Date'])
dfn.index = pd.to_datetime(dfn['Date'])
dfa = dfa.head(n)
dfd = dfd.head(n)
dfn = dfn.head(n)
# Create a new dataframe that stores values of 'Close' column from each dataframe.
df_close = pd.merge(dfa, dfd, how='left', left_index=True, right_index=True)
df_close = pd.merge(df_close, dfn, how='left', left_index=True, right_index=True)
df_close = df_close[['Close_x', 'Close_y', 'Close']]
df_close.rename(columns={'Close_x' : 'Apple', 'Close_y' : 'Disney', 'Close' : 'Nike'}, inplace=True)
# Use the 'Close' Column of each companys stock data to find correlation using df.corr().
print('LAST 20 DAYS:\n',df_close.corr(),'\n')


# LAST 80 DAYS
n=80
dfa = pd.read_csv('https://www.google.com/finance/historical?output=csv&q=aapl')
dfd= pd.read_csv('https://www.google.com/finance/historical?output=csv&q=dis')
dfn= pd.read_csv('https://www.google.com/finance/historical?output=csv&q=nke')
dfa.index = pd.to_datetime(dfa['Date'])
dfd.index = pd.to_datetime(dfd['Date'])
dfn.index = pd.to_datetime(dfn['Date'])
dfa = dfa.head(n)
dfd = dfd.head(n)
dfn = dfn.head(n)
# Create a new dataframe that stores values of 'Close' column from each dataframe.
df_close = pd.merge(dfa, dfd, how='left', left_index=True, right_index=True)
df_close = pd.merge(df_close, dfn, how='left', left_index=True, right_index=True)
df_close = df_close[['Close_x', 'Close_y', 'Close']]
df_close.rename(columns={'Close_x' : 'Apple', 'Close_y' : 'Disney', 'Close' : 'Nike'}, inplace=True)
# Use the 'Close' Column of each companys stock data to find correlation using df.corr().
print('LAST 80 DAYS:\n',df_close.corr(),'\n')

LAST 20 DAYS:
            Apple    Disney      Nike
Apple   1.000000  0.318189 -0.384530
Disney  0.318189  1.000000  0.197552
Nike   -0.384530  0.197552  1.000000

LAST 80 DAYS:
            Apple    Disney      Nike
Apple   1.000000 -0.384641 -0.010613
Disney -0.384641  1.000000  0.101170
Nike   -0.010613  0.101170  1.000000


#### 11) Change the code so that it accepts a list of any stock symbols, ie ['NKE', 'APPL', 'DIS', ... ] and creates a correlation matrix for the time period of the past 100 days

In [307]:
user_input = ['NKE', 'AAPL', 'DIS', 'GOOG']
n=100

df = pd.DataFrame(index = range(0,n), columns = user_input)
for item in user_input:
    df_temp = pd.read_csv('https://www.google.com/finance/historical?output=csv&q=' + item)
    df_temp.index = pd.to_datetime(df_temp['Date'])
    df_temp = df_temp.head(n)
    df_temp = df_temp['Close']
    df[item] = list(df_temp)
    df.index = df_temp.index
print('LAST' ,n , 'DAYS:\n',df.corr())

LAST 100 DAYS:
            NKE      AAPL       DIS      GOOG
NKE   1.000000 -0.027568  0.047418 -0.197911
AAPL -0.027568  1.000000 -0.544976  0.297369
DIS   0.047418 -0.544976  1.000000 -0.398823
GOOG -0.197911  0.297369 -0.398823  1.000000